<!--
  Generated template for the AddSopphingItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ajouter un élément</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input [(ngModel)]="item.name" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Description</ion-label>
      <ion-input [(ngModel)]="item.description" placeholder=""></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Prix</ion-label>
        <ion-input [(ngModel)]="item.price" type="number" placeholder=""></ion-input>
      </ion-item>

    <button ion-button block (click)="addItem(item)">Ajouter</button>

</ion-content>
