<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button navPush="AddSopphingItemPage" ion-button>
    <ion-icon name="add"></ion-icon>
  </button>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
